@model SpotifyClone.Models.Home.HomeIndexViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Список альбомів</h1>
</div>

<div class="row row-cols-1 row-cols-md-3 row-cols-lg-4 g-4">
    @foreach (var grp in Model.Genres)
    {
        <div class="col">
            <a class="nav-link h-100" asp-action="Category" asp-route-id="@grp.Slug">
                <div class="card h-100">
                    <img src="/Storage/Item/@grp.ImageUrl" class="card-img-top" alt="@grp.Name">
                    <div class="card-body">
                        <h5 class="card-title">@grp.Name</h5>
                        <p class="card-text">@grp.Description</p>
                    </div>
                </div>
            </a>
        </div>
    }
</div>
